body{
    margin: 0;
    padding: 0;
    background: url(25-250913_mix-colour-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", Arial, sans-serif;
        }
        #signup{
            width: 380px;
    height: auto;
    background: white;
    margin: auto;
    top: 15%;
    left: 38%;
    position: absolute;
    text-align: center;
    background-color: rgb(40, 212, 212);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        #signup>p{
            font-size: 25px;
            margin-top: 50px;
            color: aliceblue;
        }
        #fullName{
            width: 74%;
    margin: 20px auto;
    height: 40px;
    border: 0px;
    font-size: 15px;
        }
        #email{
            width: 74%;
    margin:auto;
    height: 40px;
    border: 0px;
    font-size: 15px;
        }
        #organization{
            width: 74%;
    margin: 20px auto;
    height: 40px;
    border: 0px;
    font-size: 15px;
        }
        #sgnup{
            width: 75%;
    margin: auto;
    height: 50px;
    border: 0px;
    font-size: 17px;
    color: aliceblue;
    background-color: rgb(69, 172, 172);
    cursor: pointer;
        }
        #rtn{
            width: 75%;
    margin: auto;
    height: 50px;
    border: 0px;
    color: aliceblue;
    font-size: 17px;
    background-color: rgb(69, 172, 172);
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
        }
        #rtn:hover{
            color: grey;
        }
        #sgnup:hover{
            color: grey;
        }